body {
    background-color: #222d33;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 50px;
    height: 50px;
}

.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.container-content button {
    padding: 8px 16px;
    background: blueviolet;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;

}

.container-content img {
    width: 450px;
    border: 8px solid white;
    border-radius: 50%;
    display: none;

}


.loader {
    position: relative;

    width: 40px;
    height: 40px;
    border: 5px solid white;
    border-radius: 100%;
    animation: loader 1s linear infinite;
    display: none;
}

.loader::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 3px solid darkturquoise;
    border-radius: 100%;
    top: 5px;
    left: 2.5px;

}

.loader::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 3px solid rgb(209, 0, 0);
    border-radius: 100%;
    bottom: 5px;
    right: 2.5px;

}




@keyframes loader {
    0% {
        transform: rotate(0);

    }

    50% {
        transform: rotate(180deg);
        
    }

    100% {
        transform: rotate(360deg);



    }
}